{% extends 'about_template.html' %}
{% load staticfiles %}

{% block about_content %}
    <div class="row">
        <div class="col-sm-5">
            <img src="{% static 'images/logo.gif' %}" class="about-logo"/>

            <table class="table break-up">
                <tr>
                    <th>Version</th>
                    <td>{{ version.tag }}</td>
                </tr>
                <tr>
                    <th>Released</th>
                    <td>{{ version.released }}</td>
                </tr>
                {% if is_admin %}
                    <tr>
                        <th><abbr title="install-pre needs running when dependencies change">Pre Time</abbr></th>
                        <td>{{ build_time_pre }}</td>
                    </tr>
                    <tr>
                        <th><abbr title="install-post needs running when the app's code changes">Post Time</abbr></th>
                        <td>{{ build_time_post }}</td>
                    </tr>
                    <tr>
                        <th><abbr title="When this specific instance was deployed">Deploy Time</abbr></th>
                        <td>{{ build_time_deploy }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="col-sm-7">
            <p>xSACdb, a web application for managing BSAC branch clubs, is an open source project built and maintained
                by
                <a href="//wjdp.uk">Will Pimblett</a>.</p>

            <p>Feature requests, bug reports or general comments can be sent to <a href="mailto:xsacdb@wjdp.uk">xsacdb@wjdp.uk
            </a>. For technical support please contact your club's IT administrator.</p>

            <p>As an open source project we rely mainly on volunteers to contribute to the project. If you'd like to
                help out
                see the project's page <a href="//gitlab.com/wjdp/xSACdb" target="_blank">on <i
                        class="fa fa-gitlab"></i>
                    GitLab</a>. Non-exhaustively we need the help of programmers, designers and writers.</p>

            <p>If you'd like to get involved but aren't sure how please email on the address above.</p>

        </div>
    </div>
{% endblock %}
