{% load staticfiles %}
{% load navigation %}
{% load hijack_tags %}
<!doctype html>
<html>
<head>
{% block pre_head %}{% endblock %}

<title>{% page_title %}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link rel="manifest" href="/manifest.json">

<link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
    href="{% static 'css/build.css' %}" />

<link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
    href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" />

<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>

{% if RAVEN_DSN %}
<script type="text/javascript">
    Raven.config('{{ RAVEN_DSN }}').install();
    Raven.setUserContext({
        email: '{{ request.user.email }}',
        id: '{{ request.user.pk }}',
        username: '{{ request.user.username }}'
    });
</script>
{% endif %}

<script type="text/javascript" src="/static/js/css_extra.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

<script type="text/javascript">
navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
    .then(function(r) {
      console.log('registered service worker');
    })
    .catch(function(whut) {
      console.error('uh oh... ');
      console.error(whut);
    });
</script>

{% include 'browser/head.html' %}

{% block post_head %}{% endblock %}
</head>

<body class="{% block body_class %}xsd{% endblock %}"
      id="{{ current_url.namespace }}-{{ current_url.url_name }}">

{% if request.user.is_authenticated %}{% app_nav %}{% endif %}

{{ request|hijackNotification }}

<div class="xsd-messages">
    {% if messages %}
        <ul class="xsd-messages__list">
            {% for message in messages %}
                <li class="xsd-messages__message xsd-messages__message--{{ message.tags }} xsd-messages__message--{{ message.level }}">
                    <div class="xsd-messages__message-inner">
                        <i class="xsd-messages__message-icon"></i>
                        {{ message }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% block breakout %}
    <div class="xsd-application-container">
        {% block content %}
            No content
        {% endblock %}
    </div>
{% endblock %}

{{ request|hijackNotification }}

{% block modals %}{% endblock %}

{% block closing_js %}{% endblock %}

<script type="text/javascript">
    $('.popover-button').popover();
    $('[data-toggle="popover"]').popover();
</script>

<span id="mq-detector">
    <span class="visible-xs"></span>
    <span class="visible-sm"></span>
    <span class="visible-md"></span>
    <span class="visible-lg"></span>
</span>

</body>

</html>
